<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    
    <!-- auto wiring xml--> 
   
<!--    <bean id="scores" class="com.simpli.springwiring.autowiring.Scores">
   <property name="physics" value="78"></property>
   <property name="chemistry" value="80"></property>
   <property name="maths" value="68"></property>
   </bean>
   
   <bean id="student" class="com.simpli.springwiring.autowiring.Student" autowire="byName">
   <property name="id" value="10"></property>
   <property name="scores" ref="scores1"></property>
   
    </bean> -->
   
   <!-- Constructor args auto-wiring -->
   <!-- 
   <bean id="scores245" class="com.simpli.springwiring.autowiring.Scores">
   <constructor-arg name="physics" value="78"></constructor-arg>
   <constructor-arg name="chemistry" value="80"></constructor-arg>
   <constructor-arg name="maths" value="68"></constructor-arg>
   </bean>
   
    <bean id="student" class="com.simpli.springwiring.autowiring.Student" autowire="constructor">
   <constructor-arg name="id" value="10"></constructor-arg>
   
   </bean>
    -->
   
   
   <context:annotation-config/>
   
    <bean id="scores123" class="com.simpli.springwiring.autowiring.Scores">
   <property name="physics" value="78"></property>
   <property name="chemistry" value="80"></property>
   <property name="maths" value="68"></property>
   </bean>
   
    <bean id="scores345" class="com.simpli.springwiring.autowiring.Scores">
   <property name="physics" value="90"></property>
   <property name="chemistry" value="40"></property>
   <property name="maths" value="50"></property>
   </bean>
   
   <bean id="student" class="com.simpli.springwiring.autowiring.Student">
   <property name="id" value="10"></property>
  
   
    </bean>
    
</beans>